@model MailPig.BL.Models.SubscriberModel

<tr>
    @using (Html.BeginCollectionItem("Subscribers"))
    {
        @Html.HiddenFor(m => m.Id, new { @class = "row-identifier" })
        <td>
            @Model.Name
            @Html.HiddenFor(m => m.Name)
        </td>
        <td>
            @Model.Surname
            @Html.HiddenFor(m => m.Surname)
        </td>
        <td>
            @Model.Email
            @Html.HiddenFor(m => m.Email)
        </td>
        <td>
            <a class="pointy" onclick="removeSubscriber(this)" title="Obriši pretplatnika">
                <i class="glyphicon glyphicon-lg glyphicon-remove"></i>
            </a>
        </td>
    }
</tr>