@model IEnumerable<MailPig.BL.Models.SubscriberGroupsModel>

@{
    ViewBag.Title = "Svi pretplatnici";
}

@if (ViewBag.GroupName != null)
{
    <h2>Pretplatnici grupe @ViewBag.GroupName</h2>
}
else
{
    <h2>Pregled svih pretplatnika</h2>
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="@Url.Action("Create", "Subscribers")"><i class="glyphicon glyphicon-plus"></i> Dodaj novog pretplatnika</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>E-mail</th>
                <th>Broj pretplata</th>
                <th>Akcije</th>
            </tr>

            @foreach (var subscriber in Model)
            {
                <tr>
                    <td>@subscriber.Name</td>
                    <td>@subscriber.Surname</td>
                    <td>@subscriber.Email</td>
                    <td><span class="number-lg">@subscriber.GroupsIn.Count</span> <i class="glyphicon glyphicon-lg glyphicon-inbox" data-toggle="tooltip" title="@string.Join("<br>", subscriber.GroupsIn)"></i></td>
                    <td>
                        <a href="@Url.Action("Edit", "Subscribers", new {id = subscriber.Id})" title="Uredi pretplatnika">
                            <i class="glyphicon glyphicon-lg glyphicon-edit"></i>
                        </a>
                        <a href="@Url.Action("History", "Subscribers", new {id = subscriber.Id})" title="Povijest pretplata">
                            <i class="glyphicon glyphicon-lg glyphicon-list-alt"></i>
                        </a>
                        <a class="pointy" onclick="removeSubscriber(@subscriber.Id, this)" title="Obriši pretplatnika">
                            <i class="glyphicon glyphicon-lg glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true,
                placement: 'right'
            });
        });

        function removeSubscriber(subscriberId, elem) {
            var rowToRemove = $(elem).closest('tr');
            $.ajax({
                method: 'POST',
                url: '@Url.Action("Remove", "Subscribers")',
                data: {
                    id: subscriberId
                },
                success: function () {
                    rowToRemove.remove();
                }
            });
        }
    </script>

}