@model MailPig.BL.Models.DashboardPageStatisticsModel
@{
    ViewBag.Title = "MailPig dasboard";
}

<h2>MailPig dasboard</h2>

<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Pozdrav!</strong> Ovdje će biti prikaz svih statistika koje su potrebne za praćenje mailing listi.
    U budućim verzijama dodati će se nove brojke i grafovi :)
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Grupe</h3>
            </div>
            <div class="panel-body">

                <p>
                    Broj grupa: <strong>@Model.GroupCount</strong>
                </p>

                <p>
                    Najveća grupa: <strong>@Model.BiggestGroup.Name</strong> - ima @Model.BiggestGroup.CurrentSubscribers pretplatnika
                </p>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Poslani mailovi</h3>
            </div>
            <div class="panel-body">

                <p>
                    Broj poslanih mailova: <strong>@Model.SentMailsCount</strong>
                </p>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Pretplatnici</h3>
            </div>
            <div class="panel-body">

                <p>
                    Ukupno pretplatnika: <strong>@Model.SubscriberCount</strong>
                </p>

                <p>
                    Ukupni broj pretplata na grupe: <strong>@Model.SubscriptionsCount</strong>
                </p>

                <p>
                    Top 5 pretplatnika grupa:
                    <ul>
                        @foreach (var subscriber in Model.TopSubscribers)
                        {
                            <li>@subscriber.Name @subscriber.Surname</li>
                        }
                        
                    </ul>
                </p>
            </div>
        </div>
    </div>

</div>
