@model IEnumerable<MailPig.BL.Models.TableGroupModel>

@{
    ViewBag.Title = "Pregled grupa";
}

<h2>Pregled grupa</h2>

<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="@Url.Action("Create")"><i class="glyphicon glyphicon-plus"></i> Dodaj novu grupu</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-responsive table-striped table-hover">
            <tr>
                <th>Naziv grupe</th>
                <th>Broj pretplatnika</th>
                <th>Akcije</th>
            </tr>

            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.Name</td>
                    <td>@group.CurrentSubscribers</td>
                    <td>
                        <a href="@Url.Action("Edit", "Groups", new {id = group.Id})" title="Uredi grupu">
                            <i class="glyphicon glyphicon-lg glyphicon-edit"></i>
                        </a>
                        <a class="pointy" onclick="removeGroup(@group.Id, '@group.Name' , this);" title="Obriši grupu">
                            <i class="glyphicon glyphicon-lg glyphicon-remove"></i>
                        </a>
                        <a href="@Url.Action("EditSubscribers", "Groups", new { id = group.Id })" title="Uređivanje pretplatnika grupe">
                            <i class="glyphicon glyphicon-lg glyphicon-list"></i>
                        </a>
                        <a href="@Url.Action("Index", "Subscribers", new { groupId = group.Id })" title="Pregled pretplatnika grupe">
                            <i class="glyphicon glyphicon-lg glyphicon-list-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal fade" id="groupDeleteConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Brisanje grupe</h4>
            </div>
            <div class="modal-body">
                Jeste li sigurni da želite obrisati grupu <span id="groupNameLabel"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-chevron-left"></i> Ne</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="confirmRemove()"><i class="glyphicon glyphicon-remove"></i> Da</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var groupToDelete;
        var elemToRemove;

        function removeGroup(groupId, groupName, elem) {
            groupToDelete = groupId;
            elemToRemove = $(elem).closest('tr');
            $('#groupNameLabel').html(groupName);
            $("#groupDeleteConfirmModal").modal('show');
            return false;
        }

        function confirmRemove() {
            $.ajax({
                url: '@Url.Action("Remove")',
                method: 'POST',
                data: {
                    id: groupToDelete
                },
                success: function () {
                    elemToRemove.remove();
                }
            });
            return false;
        }
    </script>

}